body {
  margin: 0;
}

h1 {
  font-family: Arial;
  font-weight: 550;
  font-size: 50px;
}

.main-check {
  text-align: center;
  transition: 0.8s;
}

.palindrome-checker {
  display: inline-block;
  width: 500px;
  background-color: lightblue;
  padding: 40px 40px;
  padding-bottom: 35px;
  transition: 0.8s;
}

#input-box {
  font-family: Arial;
  font-size: 20px;
  width: 100%;
  border: solid;
  border-width: 0.5px;
  border-radius: 4px;
  padding: 10px 9px;
  box-sizing: border-box; /* Added this line */
}

#input-box::placeholder {
  font-size: 16px;
  color: rgb(203, 203, 203);
}

#check-button {
  font-size: 22px;
  border: none;
  border-radius: 4px;
  padding: 6px 9px;
  margin-top: 20px;
  background-color: lightcoral;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: 0.8s;
}

#check-button:hover {
  transform:scale(1.2);
}

#check-button:active {
  opacity: 0.6;
}