h1 {
  font-family:Arial;
  font-size: 50px;
}

.color-flipper {
  text-align: center;
}

#green {
  position: relative;
  background-color: #04AA6D;
  font-size: 30px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  padding: 6px 7px;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#green:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#green:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#red {
  position: relative;
  background-color:rgb(226, 86, 86);
  font-size: 30px;
  margin-right: 8px;
  color: whitesmoke;
  padding: 6px 9px;
  border: none;
  border-radius: 4px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#red:after {
  content: "";
  background: #f65252;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#red:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#blue {
  position: relative;
  background-color:rgb(83, 183, 226);
  font-size: 30px;
  margin-right: 8px;
  color: whitesmoke;
  padding: 6px 9px;
  border: none;
  border-radius: 4px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#blue:after {
  content: "";
  background: #63e5ee;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#blue:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#random {
  padding: 6px 8px;
  font-size: 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#Clear {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 35px;
  color: rgb(4, 4, 4);
}

#Clear:hover {
  background-color: transparent;
  box-shadow: 0 1px 4px rgb(206, 203, 203);
}